body {
    background: #EFEBE9;
}

.field {
    margin-bottom: 15px;
}

.submit-button {
    display: flex;
    justify-content: center;
}

.loader {
    position: absolute;
    left: 48%;
    top: 50%;
}

/* NEUTRAL */

.add-margin-bottom {
    margin-bottom: 10px;
}

.flex-grow {
    flex-grow: 1;
}