:root {
    --black-text-color: #333;
    --grey-text-color: #8e8e8e;
    --white-text-color: #e6e6e6;
    --page-gold-color: #C0B283;
    --silk-color: #DCD0C0;
    --paper-color: #F4F4F4;
    --charcoal-color: #373737;
    --box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
    --black-color: rgba(0, 0, 0, 0.87);
}

html, body {
    background: var(--silk-color);
    color: var(--charcoal-color);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}

/*****HEADER *************/
header {
    background: var(--page-gold-color) !important;
}

.header-logo {
    width: 100px;
}

.header-title {
    font-size: 18px;
    color: var(--black-color);
}

.header-user-logo {
    margin-right: 15px;
}


/******* MAIN PAGE ********/

.grid-car-list-item {
    cursor: pointer;
    width: 33.3% !important;
}

.grid-car-list-item-tile {
    border-radius: 5px;
    border: 1px solid darkgrey;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.07);
}

.grid-list-item-price {
    margin-right: 16px;
    font-style: italic;
    color: white;
    letter-spacing: 1.0px;
    font-size: 14px;
    white-space: nowrap;
}

/**** CAR UPLOAD PAGE ******/

.upload-step-buttons-wrapper {
    display: flex;
    flex-direction: row-reverse;
    margin: 20px 0 40px 0;
}

/*************** CONTACT PAGE ***********/

.contact-page-title {
    font-size: 22px;
    margin: 30px 0;
}

.contact-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*** CAR DETAILS PAGE ***/

.car-detail-header {
    margin-bottom: 15px;
}

.car-detail-title {
    margin: 0;
}

.car-details-body {
    display: flex;
    flex-wrap: wrap;
}

.car-details-sliders-wrapper {
    width: 50%;
}

.car-detail-spec-list {
    width: 45%;
    list-style: none;
    padding-left: 20px;
    margin-top: -10px;
}

.car-detail-spec-list-item {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

.submit-comment-button {
    margin-left: 20px;
}

/*********** CARS FROM USER PAGE ***************/

.no-car-title {
    text-align: center;
    padding: 60px;
}

.user-car-capture {
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-decoration: none;
    color: #333;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.capture-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.capture-title {
    margin: 0;
}

.capture-price {
    font-style: italic;
    font-size: 15px;
    font-weight: 500;
}

.capture-body {
    display: flex;
}

.capture-image {
    width: 160px;
    height: 100px;
    border-radius: 2px;
    box-shadow: var(--box-shadow);
}

.capture-info-wrapper {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.capture-body-attributes {
    font-size: 15px;
    font-weight: 500;
}

.capture-body-text {
    font-size: 14px;
}

/******* CAR EDIT PAGE *******************/

.car-edit-buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 20px 0 50px 0;
}

/*********** USER EDIT PAGE *******************/
.user-profile-edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile-avatar-wrapper {
    display: flex;
    justify-content: center;
}

.user-profile-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-profile-buttons-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 20px 0;
}


/******* FOOTER *********/

footer {
    background: var(--page-gold-color);
    padding: 30px 10px;
    margin-top: 10px;
    box-shadow: var(--box-shadow);
}

.footer-menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-list {
    list-style: none;
}

.footer-list li {
    margin-bottom: 15px;
}

.footer-list a {
    text-decoration: none;
    color: var(--black-color);
    font-weight: 500;
}

.footer-logo {
    width: 80px;
    min-width: 50px;
    max-height: 300px;
}

.footer-copyright {
    text-align: center;
    font-size: 13px;
    color: var(--white-text-color);
    margin-top: 30px;
}

/****/

.circle {
    border-radius: 50%;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.horizontal--space-around {
    justify-content: space-around;
}

.horizontal--space-between {
    justify-content: space-between;
}

.horizontal--center {
    justify-content: center;
}

.vertical {
    flex-direction: column;
}

.vertical--center {
    align-items: center;
}

.vertical--baseline {
    align-items: baseline;
}

.flex-start {
    align-self: flex-start;
}

.align-center {
    align-self: center;
}

.full-width {
    width: 100%;
}

.text-decoration--none {
    text-decoration: none;
}

.list--horizontal {
    display: flex;
    justify-content: space-around;
}

.btn {
    color: white;
    display: inline-flex;
    align-items: center;
    padding: 6px 15px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border: 0;
    outline: none;
    font-size: 0.875rem;
    line-height: 1.4em;
    font-weight: bold;
}

.btn--primary {
    color: white;
    background-color: #3f51b5;
}

.btn--primary:hover {
    background-color: #303f9f;
}

.btn--secondary {
    color: white;
    background-color: orange;
}

.btn--secondary:hover {
    background-color: #FF6D00;
}

.btn--danger {
    color: white;
    background-color: red;
}

.btn--danger:hover {
    background-color: #DD2C00;
}

.btn--outlined {
    color: #3f51b5;
    background-color: transparent;
}

.btn--outlined:hover {
    background-color: rgba(63, 81, 181, 0.08);
}

.text--italic {
    font-style: italic;
}

.text--bold {
    font-weight: bold;
}

.text--long {
    overflow: hidden;
}

.font-size-extra {
    font-size: 20px;
}

.font-size-big2 {
    font-size: 18px;
}

.font-size-big {
    font-size: 16px;
}

.font-size-medium {
    font-size: 14px;
}

.font-size-13px {
    font-size: 13px;
}

.font-size-small {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54)
}

.font-weight-bold {
    font-weight: 600;
}

.font-weight-high {
    font-weight: 500;
}

.font-weight-normal {
    font-weight: 400;
}

.font-weight-low {
    font-weight: 300;
}

.Select-value {
    color: rgba(0, 0, 0, 0.87) !important;
}

form {
    padding: 15px;
}

.float-right {
    display: flex;
    justify-content: flex-end;
}

.container {
    box-shadow: var(--box-shadow);
    background: white;
    width: 100%;
}

.padding-20px {
    padding: 20px;
}

.padding-extra {
    padding-top: 25px;
    padding-bottom: 25px;
}

.padding-big {
    padding-top: 15px;
    padding-bottom: 15px;
}

.padding-medium {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-small {
    padding-top: 5px;
    padding-bottom: 5px;
}

.padding-side-big {
    padding-left: 30px;
    padding-right: 30px;
}

.padding-side-20px {
    padding-left: 20px;
    padding-right: 20px;
}

.padding-side-15px {
    padding-left: 15px;
    padding-right: 15px;
}

.padding-side-medium {
    padding-left: 10px;
    padding-right: 10px;
}

.padding-side-small {
    padding-left: 5px;
    padding-right: 5px;
}

.margin-extra {
    margin-top: 25px;
    margin-bottom: 25px;
}

.margin-big {
    margin-top: 15px;
    margin-bottom: 15px;
}

.margin-big--important {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.margin-medium {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-medium--important {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.margin-small {
    margin-top: 5px;
    margin-bottom: 5px;
}

.margin-side-big {
    margin-left: 20px;
    margin-right: 20px;
}

.margin-side-medium {
    margin-left: 10px;
    margin-right: 10px;
}

.margin-side-small {
    margin-left: 5px;
    margin-right: 5px;
}

.margin-top-big {
    margin-top: 30px;
}

.margin-top-medium {
    margin-top: 15px;
}

.margin-top-small {
    margin-top: 10px;
}

.margin-right-big {
    margin-right: 30px;
}

.margin-right-medium {
    margin-right: 15px;
}

.margin-right-small {
    margin-right: 10px;
}

h1 {
    font-size: 1.5em;
}

.cursor--pointer {
    cursor: pointer;
}

/*************** SLIDER ************* */
.slick-slider {
    overflow: hidden;
}

.slick-slider img {
    min-width: 100%;
    max-height: 100%;
}

.slider-big {
    width: auto;
    height: auto;
    margin-bottom: 5px;
}

.slider-big img {
    border-radius: 4px;
    box-shadow: var(--box-shadow);
}

.slick-arrow {
    z-index: 10;
    margin: 0 40px;
    width: 30px;
    height: 26px;
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.slick-slider:hover .slick-arrow {
    opacity: 1;
}

.slider-big .slick-arrow::before {
    font-size: 30px !important;
}

.slider-small {
    margin-bottom: 15px;
    border-radius: 2px;
    height: auto;
}

/* error alert section */
/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    border-radius: 5px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.full-page {
    height: 90vh;
    width: 100vw;
}

.loader {
    position: absolute;
    left: 48%;
    top: 50%;
}

/******** IMAGE UPLOAD ****************/
.uploadPictureContainer {
    margin: 2% !important;
}

.fileContainer {
    box-shadow: none;
}

.uploadPictureContainer img {
    max-width: 300px;
    max-height: 250px;
}

.uploadPictureContainer .deleteImage {
    background: red;
    font-size: 15px;
}

/******** MOBIL OPTIMALISATION **********/

@media screen and (max-width: 1000px) {
    .grid-car-list-item {
        width: 50% !important;
    }
}

@media screen and (max-width: 769px) {
    .grid-list-item-price {
        display: none;
    }

    .car-detail-header {
        flex-direction: column-reverse;
    }

    .car-detail-title {
        margin-top: 15px;
    }

    .car-details-sliders-wrapper {
        width: 100%;
    }

    .car-detail-spec-list {
        width: 100%;
        margin-top: 25px;
        padding-left: 0;
    }

    .submit-comment-form {
        padding: 0;
        flex-direction: column;
    }

    .submit-comment-button {
        align-self: flex-end;
    }
}

@media screen and (max-width: 415px) {
    .no-mobile {
        display: none !important;
    }

    .header-logo {
        width: 50px;
        min-width: 50px;
    }

    .header-title {
        font-size: 16px;
        margin-left: 5px;
    }

    .header-user-logo {
        display: none !important;
    }

    .grid-car-list-item {
        width: 100% !important;
    }

    .footer-menu-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .footer-list {
        padding: 0;
        text-align: center;
    }
}